
/* Css du planning */

#planning {
	width:42vh;
	display:grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	margin:auto;
	padding-top:3vh;
}

#planning table tr th {
	font-size:1vh;
	padding:0.5em;
	background-color:#8eddd8;
}

/* ------------------------------------------------------------*/

/* Css du formulaire de formation */

#question, #formulaire label {
	font-family: "Arial";
	
	
}

#formulaire form div {
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2); 
}

#formulaire label {
	font-size:2vh;
	padding:1vh;
}

#question {
	font-size:3vh;
	
	padding-top:3vh;
	padding-bottom:3vh;
	margin:0;
	background-color:#77cfca;
}

#formulaire div {
	font-size:2.5vh;
	margin:1vh;
	background :linear-gradient(#77cfca, #8eddd8);
	border-radius: 3vh;
	outline: 2px solid #6e9c9a;
	padding:1vh;
	display:grid;
	justify-content:center;
	
}


#formulaire {
	display:grid;
	padding:2vh;
	background :linear-gradient(#77cfca, #8eddd8);
	height:100%;
}

#date-f input {
	background-color:#8edde8;
	width:14vh;
		
}

input {
	background-color:#8edde8;
	box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2); 
}

#matiere-f {
	display:grid;
	grid-template-columns:  10% 80% 10%;
	
}

#niveau-f {
	display:grid;
	grid-template-columns: 10% 80% 10%;
	
}

/*----------------------------------------------------------------------------------*/

/* css du header */

main { 
    max-height: 100vh;
}

header {
	
	grid-template-rows: 33% 33% 33%;
	padding-left:10%;
	padding-right:10%;
	padding-top:5%;
	background-color:#8eddd8;
	padding-bottom:5vh;
	height:16vh;
}

#infos-bar {
	display:grid;
	grid-template-columns: 10% 60% 10% 10% 10%;
	height:70%;
}

#infos-bar img {
	width: 100%;
	margin: auto;
}

#infos-bar p {
	text-align:left;
	padding-left:5%;
	margin-top: auto;
	margin-bottom: auto;
}

#account {
	display:grid;
	grid-template-columns: 20% 65% 15% 15%;
	height:10vh;
	padding-top:1vh;
}

#infos-bar img {
	width: 9vh;
	height:4vh;
}

#userimg{
	height: 9vh;
	width: 9vh;
}

#messageimg {
	height: 5vh;
	padding-top: 25%;
	width: 5vh;
}

#deconnection {
	height: max-content;
	margin-top: 60%;
	margin-right: 40%;
}

#deconnection img {
	width: 2.5vh;
	height: auto;
}

#account div {
	display:grid;
	grid-template-rows: 40% 25%;
}

#account h2, #account p {
	margin:0;
	padding:0;
	text-align:left;
	padding-left:10%;
	width: 100%;
	font-family: "Arial";
}

#account h2 {
	   font-size: 2vh;
	   padding-top:1vh;
}

 #account p {
	   font-size: 1.3vh;
}

#texte-top {
	padding-top:6%;
}

#bar a p {
	font-size:1.6vh;
	color:black;
	font-family: "Arial";
	margin:0;
	padding-top:1vh;
	padding-bottom:1vh;
}

#bar a {
	text-decoration: none;
}

#bar {
	width:33vh;
	background-color:#77cfca;
	margin:auto;
	border-radius: 3vh;
	margin-top:1vh;
	padding-top:1vh;
	padding-bottom:1vh;
	outline: 0.5px solid #6e9c9a;
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2); 
}


/*----------------------------------------------------------*/

/* css du footer */

#centre {
	display:grid;
	justify-content:center;
   	align-items:center;
   	position:fixed;
   	top: 100%; left: 50%; /* à 50%/50% du parent référent */
}

footer {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
   	width:45vh;
   	background-color:#8eddd8;
   	border-radius: 5vh 5vh 0 0;
   	padding-top:3vh;
   	position: absolute;
  	bottom:0;
  	height:8vh;
  	transform: translate(-50%, 0); /* décalage de 50% de sa propre taille */
   	box-shadow: 10px 5px 5px  rgba(0, 0, 0, 0.2); 
   	
}

footer div {
	display: grid;
	grid-template-rows: 50% 50%;
	justify-content: center;
	
}


footer div a img {
	width:4vh;
	height:4vh;
	margin:auto;
}

footer div a p {
	height:1vh;
	font-size:1.5vh;
	text-align:center;
	width:10vh;
	margin:1vh;
	color:white;
}

footer div a {
	text-decoration: none;
}

/* -----------------------------------------------------------*/


.grid12 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grid14 {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    align-items: center;
    justify-items: center;
}

/*-------------------------------*/
/* bloc Mes leçons*/

.mes_lecons {
    background-color: #77cfca;
    height: 32vh;
    font-size: 2.5vh;
}

.mes_lecons .grid12 {
    color: white;
}

.mes_lecons .grid14 { 
    grid-template-columns: 1fr 2fr 2fr 1fr;
    gap: 0.5vh;
    height: 15vh;
}

.lecons_bloc {
    background-color: #ffffff;
    height: 100%;
    border-radius: 2vh;
    border: 0.2vh solid black;
}

.grid14 img{
    width: 3vh;
    height: auto;
}

.lecons_bloc img {
    width: 13vh;
    height: 8vh;
    border-radius: 2vh;
    margin: 0.8vh;
}

#fleche_gauche {
    transform: rotate(180deg);
}

h4 {
    margin: 0;
}

.progress_bar {
    height: 2vh;
    width: auto;
    background-color: #d3dfe1;
    margin: 1.5vh;
    margin-bottom: 1vh;
    border-radius: 1vh;
}

.progression {
    background-color: #8eddd8;
    width: 8vh;
    height: 2vh;
    border-radius: 1vh;
}

.pourcent13 {
    display: grid; 
    grid-template-columns: 1fr 3fr 1fr; 
    align-items: center; 
    height: 3vh;
}

.pourcent13 img {
    width: 2vh;
    height: auto;
}

.pourcent13 p {
    margin: 0;
    font-weight: bold;
}

/*----------------------------------*/

.categories {
    background-color: #ffffff;
    height: 100%;
    font-size: 2.5vh;
    color: black;
}

.categories .grid14 {
    margin: 0 4vh 0 4vh;
}

.categories .grid14 img {
    width: auto;
    max-height: 9vh;
}

.categories .grid14 p {
    margin: 0;
    font-size: 2vh;
}

/*-----------------------*/
/*Annales*/

.annales {
	background-color: #77cfca;
	margin: 0;
	padding: 5vh 0 5vh 0;
}

.liste {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 1.25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vh;
    width: 100%;
}

.liste li {
    display: flex; 
    align-items: center; 
    gap: 10px; /* Espacement entre l'image et le texte */
    border-radius: 2vh;
    background-color: #77cfca;
    width: 38vh;
    margin: auto;
    height: 5vh;
    border: 0.4vh solid #637879;
}

.liste img {
    width: 3vh; 
    height: 3vh;
}

.liste p {
    flex: 1;
    text-align: center;
    margin: 0;
    color: #637879;
}

.liste li:hover {
    background-color: #5fa09c; /* Couleur plus foncée au survol */
    border-color: #4c6061; /* Assombrit la bordure */
}

.liste li:hover p {
    color: #ffffff; /* Change la couleur du texte pour un meilleur contraste */
}
