/* Css du formulaire de formation */

#question, #formulaire label {
	font-family: "Arial";
}

#formulaire label {
	font-size:3vh;
	padding:1vh;
}

#question {
	font-size:4vh;
	background-color:#8edde8;
	padding-top:1vh;
	padding-bottom:1vh;
	margin:0;
	background-color:#77cfca;
}

#formulaire div {
	font-size:2.5vh;
	margin:1vh;
	background-color:#77cfca;
	border-radius: 3vh;
	outline: 2px solid #6e9c9a;
	padding:1vh;
	display:grid;
	justify-content:center;
	
}

#formulaire div label label label{
	justify-self:left;
	
}

#formulaire div label label {
	display:grid;
	grid-template-columns: 20% 80%;
	
	
}

#formulaire {
	display:grid;
	grid-template-rows: 33% 33% 33%;
	padding:2vh;
	background-color:#77cfca;
	height:100%;
}

#date-f input {
	background-color:#8edde8;
	width:14vh;
		
}

/*----------------------------------------------------------------------------------*/

/* css du header */

main { 
	justify-content:center;
}

header {
	
	grid-template-rows: 33% 33% 33%;
	padding-left:10%;
	padding-right:10%;
	padding-top:5%;
	background-color:#8eddd8;
	padding-bottom:5vh;
	height:21vh;
}

#infos-bar {
	display:grid;
	grid-template-columns: 10% 60% 10% 10% 10%;
	height:70%;
}

#infos-bar img {
	width: 100%;
	margin: auto;
}

#infos-bar p {
	text-align:left;
	padding-left:5%;
	margin-top: auto;
	margin-bottom: auto;
}

#account {
	display:grid;
	grid-template-columns: 20% 65% 15%;
	height:10vh;
	padding-top:1vh;
}

#infos-bar img:last-of-type  {
	width: 9vh;
	height:4vh;
}

#account img:first-of-type {
	height: 9vh;
	width: 9vh;
}

#account img:last-of-type {
	height: 5vh;
	padding-top: 25%;
	width: 5vh;
}

#account div {
	display:grid;
	grid-template-rows: 40% 25%;
}

#account h2, #account p {
	margin:0;
	padding:0;
	text-align:left;
	padding-left:10%;
	width: 100%;
	font-family: "Arial";
}

#account h2 {
	   font-size: 2vh;
	   padding-top:1vh;
}

 #account p {
	   font-size: 1.3vh;
}

#texte-top {
	padding-top:6%;
}

#bar a p {
	font-size:1.6vh;
	color:black;
	font-family: "Arial";
	margin:0;
	padding-top:1vh;
	padding-bottom:1vh;
}

#bar a {
	text-decoration: none;
}

#bar {
	width:33vh;
	background-color:#77cfca;
	margin:auto;
	border-radius: 3vh;
	margin-top:1vh;
	padding-top:1vh;
	padding-bottom:1vh;
	outline: 0.5px solid #6e9c9a;
}


/*----------------------------------------------------------*/

/* css du footer */

#centre {
	display:grid;
	justify-content:center;
   	align-items:center;
}

footer {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
   	width:45vh;
   	background-color:#8eddd8;
   	border-radius: 5vh 5vh 0 0;
   	padding-top:3vh;
   	position: absolute;
   	top: 90%; left: 50%; /* à 50%/50% du parent référent */
  	transform: translate(-50%, 0); /* décalage de 50% de sa propre taille */
  	bottom:0;
  	height:8vh;
   	
   	
}

footer div {
	display: grid;
	grid-template-rows: 50% 50%;
	justify-content: center;
	
}


footer div a img {
	width:4vh;
	height:4vh;
	margin:auto;
}

footer div a p {
	height:1vh;
	font-size:1.5vh;
	text-align:center;
	width:10vh;
	margin:1vh;
	color:white;
}

footer div a {
	text-decoration: none;
}

/* -----------------------------------------------------------*/


.grid12 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grid14 {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    align-items: center;
    justify-items: center;
}

/*-------------------------------*/
/* bloc Mes leçons*/

.mes_lecons {
    background-color: #77cfca;
    height: 32vh;
    font-size: 2.5vh;
}

.mes_lecons .grid12 {
    color: white;
}

.mes_lecons .grid14 { 
    grid-template-columns: 1fr 2fr 2fr 1fr;
    gap: 0.5vh;
    height: 15vh;
}

.lecons_bloc {
    background-color: #ffffff;
    height: 100%;
    border-radius: 2vh;
    border: 0.2vh solid black;
}

.grid14 img{
    width: 3vh;
    height: auto;
}

.lecons_bloc img {
    width: 13vh;
    height: 8vh;
    border-radius: 2vh;
    margin: 0.8vh;
}

#fleche_gauche {
    transform: rotate(180deg);
}

h4 {
    margin: 0;
}

.progress_bar {
    height: 2vh;
    width: auto;
    background-color: #d3dfe1;
    margin: 1.5vh;
    margin-bottom: 1vh;
    border-radius: 1vh;
}

.progression {
    background-color: #8eddd8;
    width: 8vh;
    height: 2vh;
    border-radius: 1vh;
}

.pourcent13 {
    display: grid; 
    grid-template-columns: 1fr 3fr 1fr; 
    align-items: center; 
    height: 3vh;
}

.pourcent13 img {
    width: 2vh;
    height: auto;
}

.pourcent13 p {
    margin: 0;
    font-weight: bold;
}

/*----------------------------------*/

.categories {
    background-color: #ffffff;
    height: 100%;
    font-size: 2.5vh;
    color: black;
}

.categories .grid14 {
    margin: 0 4vh 0 4vh;
}

.categories .grid14 img {
    width: auto;
    max-height: 9vh;
}

.categories .grid14 p {
    margin: 0;
    font-size: 2vh;
}
