body {
    background-color: #222;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: #dee0df;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#camera, #geste {
    display: none;
}

@media (hover: hover) and (pointer: fine) {
    main {
        height: 95%;
        width: auto;
        aspect-ratio: 9 / 18;
        border-radius: 25px;
        box-shadow: #fff 0px 0px 10px;
        border: 3px solid #000;
        overflow: hidden;
    }

    #camera, #geste {
        display: block;
        z-index: 10;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: #000;
    }

    #camera {
        top: calc(20px + 3%);
        border-radius: 50%;
        width: 15px;
        height: 15px;
        box-shadow: inset #888 0px 0px 5px;
    }

    #geste {
        bottom: calc(20px + 2%);
        border-radius: 5px;
        width: 150px;
        height: 5px;
    }
}


#menu {
	display:grid;
	grid-template-columns: 50% 50%;
	grid-template-rows:50% 50%;
	height: 50%;
}

#probleme {
	text-align: right;
	padding-right: 10%;
}

#select {
	background: linear-gradient(#dee0df,#F5F5F5);
}

.boutons {
	margin:10px;
	display:grid;
	grid-template-rows: 50% 50%;
	grid-template-columns:100%;
	background: linear-gradient(#dee0df,#F5F5F5);
	
}

.boutons img {
	height: 100%;
    	margin: auto;
}

#voir img {
	height: 85%;
    	margin: auto;
}

#modifier img {
	height: 105%;
    	margin: auto;
}


.boutons h2 {
	font-size:2vh;
	font-family:"Raleway";
}

@media (max-width:800px) {
	.boutons {
		display:grid;
		grid-template-rows: 0% 100%;
		grid-template-columns:100%;
		
	
	}

	.boutons img {
		height: 100%;
	    	margin: auto;
	    	
		
		
	}

	.boutons h2 {
		visibility: hidden;
		font-size:2vh;
		font-family:"Raleway";
	}
}


@media (hover: none), (pointer: coarse) {
    #time-and-weather-bar {
        margin-top: 25px;
    }
    #search-bar {
        margin: 45px 40px;
        margin-top: 320px;
    }
    #second-app {
        margin-top: 10px;
    }
}

/*-------------------------------------------------------------*/

header {
	display: grid;
	grid-template-columns:20% 80%;
	
}	

header h1{
	
    font-size: 32px; 
    font-weight: bold; 
    text-align: left;
    color: #dee0df; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    
    background-color: #40a2f3;
    /*-webkit-background-clip: text; /* Applique le dégradé uniquement sur le texte */
    /*-webkit-text-fill-color: transparent; /* Rend le texte transparent pour afficher le dégradé */

    
    border-bottom: 3px solid #40a2f3; /* Ligne en dessous pour un effet stylisé */
    display: inline-block;
    width: 100%;
    padding: 7.5% 7.5%;
    margin: 0;
    padding-left: 15%;
}

header img {
	height: 1.5em;
	display: inline-block;
}

header a {
	background-color: #40a2f3;
	padding: auto;
	padding-top:40%;
}


.boite-cours {
    
    padding: 2%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    align-items: center; /* Centre verticalement le contenu */
    margin: 20px;
    cursor: pointer; /* Le curseur devient une main */
    transition: 1s ease;
}

/* Applique l'effet de grisage sur toute la div (pas seulement le texte) */
.boite-cours:hover, .bulle:hover {
    background: none; /* Grisage au survol */
    transition: 1s ease;
    
}






