body {
    background-color: #222;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    width: 100vw;
    height: calc(100% - 40px);
    background-color: #dee0df;
}

#camera {
    display: none;
}

#geste {
    display: none;
}

@media (hover: hover) and (pointer: fine) {
    main {
        width: auto;
        height: 90%;
        aspect-ratio: 9 / 16;
        border-radius: 25px;
        box-shadow: #fff 0px 0px 10px;
        border: 3px solid #000;
        overflow: hidden;
    }

    #camera {
        display: block;
        position: absolute;
        top: calc(20px + 3%);
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background-color: #000;
        box-shadow: inset #888 0px 0px 5px;
    }

    #geste {
        display: block;
        position: absolute;
        bottom: calc(20px + 2%);
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 5px;
        width: 150px;
        height: 5px;
        background-color: #000;
    }
}

/*-------------------------------------------------------------*/

.titre-app {
    font-size: 32px; 
    font-weight: bold; 
    text-align: center; 
    color: #dee0df; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    
    background-color: #40a2f3;
    /*-webkit-background-clip: text; /* Applique le dégradé uniquement sur le texte */
    /*-webkit-text-fill-color: transparent; /* Rend le texte transparent pour afficher le dégradé */

    padding: 10px; /* Espacement autour du texte */
    border-bottom: 3px solid #40a2f3; /* Ligne en dessous pour un effet stylisé */
    display: inline-block; /* Permet de mieux gérer la largeur */
    width: 100%;
    padding: 25px 0px;
    margin: 0;
}


.boite-cours, .bulle {
    height: 100px;
    background-color: #dee0df;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex; /* Active flexbox */
    align-items: center; /* Centre verticalement le contenu */
    justify-content: flex-start; /* Aligne les éléments vers la gauche */
    margin: 20px;
    cursor: pointer; /* Le curseur devient une main */
    transition: background-color 0.3s ease; /* Animation douce pour le changement de couleur */
}

/* Applique l'effet de grisage sur toute la div (pas seulement le texte) */
.boite-cours:hover, .bulle:hover {
    background-color: #838383; /* Grisage au survol */
}

.grid {
    display: grid; /* Active le grid */
    grid-template-columns: 2fr 1fr; /* Première colonne plus large, deuxième colonne plus petite */
    gap: 10px; /* Espacement entre les colonnes */
}

.grid-prog {
    display: grid; /* Active le grid */
    grid-template-columns: 1fr 4fr; /* Première colonne plus large, deuxième colonne plus petite */
    gap: 10px; /* Espacement entre les colonnes */
}

.grid4 {
    display: grid; /* Active le grid */
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    gap: 10px; /* Espacement entre les colonnes */
}

.grid .boite-cours {
    grid-column: 1; /* Positionne "Mes cours" dans la première colonne */
}

.bulle .grid .rond {
    grid-column: 1;
}

.rond {
    margin: 0px;
    background-color: #40a2f3;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

/* rond vert dans la grille */
.grid .rond {
    background-color: #59e2ca; /* Couleur initiale du rond vert */
    grid-column: 2; /* Positionne le rond dans la deuxième colonne */
    align-items: center; /* Centre le contenu verticalement dans la cellule */
    justify-content: center; /* Centre horizontalement */
    margin: auto;
    margin-right: 30%;
    transition: background-color 0.3s ease; /* Ajout d'une transition pour un effet doux */
}

/* Lorsque le rond vert est survolé, il devient plus foncé */
.grid .rond:hover {
    background-color: #3d9d84; /* Couleur plus foncée du rond au survol */
}

.texte {
    font-size: 200%;
    color: white;
    font-weight: bold;
}

/* Style spécifique pour les liens */
.link {
    display: block; /* Permet à l'élément <a> de couvrir toute la div */
    text-decoration: none; /* Enlève le soulignement des liens */
    color: inherit; /* Assure que la couleur du texte reste la même */
    width: 100%; /* S'assure que le lien couvre toute la taille de la div */
    height: 100%; /* Permet au lien de couvrir toute la hauteur de la div */
}





